@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic");
body {
  background-color: rgb(27, 36, 57);
}

.skill__map .main__popup-inner {
  overflow: hidden;
  position: relative;
}

#myViewport {
  overflow: hidden;
  position: relative;
}

.skill-map-body {
  width: 100%;
  height: 100%;
  padding: 1vw;
}

.boy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  height: 80%;
}

.skill-map-controls {
  position: absolute;
  bottom: 3vw;
  left: 4vw;
  z-index: 10;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.skill-map-controls .skill-map-btn-zoom {
  background-color: rgb(33, 42, 65);
  border-bottom: 0.001vw solid #8197C1;
  padding: 1vw;
  height: 3.5vw;
  cursor: pointer;
  transition: all 0.3s;
}
.skill-map-controls .skill-map-btn-zoom:hover {
  background-color: rgb(28, 36, 56);
}
.skill-map-controls .skill-map-btn-zoom:last-child {
  border: none;
  border-radius: 0 0 0.8vw 0.8vw;
}
.skill-map-controls .skill-map-btn-zoom:first-child {
  border-radius: 0.8vw 0.8vw 0 0;
}
.skill-map-controls .skill-map-btn-zoom svg {
  width: 1vw;
  height: auto;
}
.skill-map-controls .skill-map-btn-zoom svg rect {
  fill: #fff;
}

.skill-map-wrapper {
  position: relative;
}
.skill-map-wrapper svg {
  max-width: 100%;
  width: 100vw;
  height: 80vw;
}

.skill-map-step {
  position: absolute;
  border-radius: 0.5vw;
  color: #869DC8;
  font-family: Rubik;
  font-size: 0.785vw;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 92.503% */
  letter-spacing: 0.2px;
  display: inline-flex;
  align-items: center;
  padding: 0.8vw 1vw;
  width: 11.5vw;
  height: 2.5vw;
  cursor: pointer;
  transition: all 0.3s;
}
.skill-map-step:not(.active) {
  border: 0.12vw solid rgba(37, 46, 66, 0.7);
  background: #20283C;
  box-shadow: 0px 0px 0.25vw 0px #0C1421;
}
.skill-map-step span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.skill-map-step.step-1 {
  top: -0.5vw;
  left: 50%;
  transform: translateX(-50%);
}
.skill-map-step.step-2 {
  top: 2.3vw;
  left: 65%;
}
.skill-map-step.step-3 {
  top: 11vw;
  right: -7%;
  transform: translateX(-95%);
}
.skill-map-step.step-15 {
  top: 11vw;
  left: -7%;
  transform: translateX(95%);
}
.skill-map-step.step-4 {
  top: 23.5vw;
  right: 6.5%;
  transform: translateX(90%);
}
.skill-map-step.step-14 {
  top: 23.5vw;
  left: 6.5%;
  transform: translateX(-90%);
}
.skill-map-step.step-5 {
  top: 38.7vw;
  right: 2%;
  transform: translateX(85%);
}
.skill-map-step.step-13 {
  top: 38.7vw;
  left: 2%;
  transform: translateX(-85%);
}
.skill-map-step.step-6 {
  top: 54.5vw;
  right: 5.5%;
  transform: translateX(80%);
}
.skill-map-step.step-12 {
  top: 54.5vw;
  left: 5.5%;
  transform: translateX(-80%);
}
.skill-map-step.step-7 {
  bottom: 10vw;
  right: 17%;
  transform: translateX(80%);
}
.skill-map-step.step-11 {
  bottom: 10vw;
  left: 17%;
  transform: translateX(-80%);
}
.skill-map-step.step-8 {
  bottom: 1.5vw;
  right: 30%;
  transform: translateX(65%);
}
.skill-map-step.step-10 {
  bottom: 1.5vw;
  left: 30%;
  transform: translateX(-65%);
}
.skill-map-step.step-9 {
  bottom: -0.5vw;
  left: 50%;
  transform: translateX(-50%);
}
.skill-map-step.step-16 {
  top: 2.3vw;
  right: 65%;
}

.skill {
  cursor: pointer;
}
.skill.active .border-light, .skill.active .center-circle {
  opacity: 1;
  transition: all 0.3s;
}

.border-light, .center-circle {
  opacity: 0;
  transition: all 0.3s;
}

.line-active {
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: #869DC8;
  filter: drop-shadow(0px 0px 4px rgba(47, 196, 211, 0.75));
}

.circle.active-50-50 {
  stroke-width: 4px;
  stroke: #869DC8;
  filter: drop-shadow(0px 0px 8px rgba(47, 196, 211, 0.75));
}
.circle.active {
  stroke-width: 4px;
  stroke: #869DC8;
  filter: drop-shadow(0px 0px 8px rgba(47, 196, 211, 0.75));
}
.circle.active rect {
  position: relative;
}

.skill-map-step:hover {
  box-shadow: 0px 0px 0.21vw 0.12vw rgba(47, 196, 211, 0.75);
}

.skill-map-step.active {
  border: 0.12vw solid #869DC8;
  background: #1B2439;
  box-shadow: 0px 0px 0.21vw 0.12vw rgba(47, 196, 211, 0.75);
}

.tippy-box {
  border-radius: 1.2vw;
  background-color: #1B2439;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  max-width: 18.5vw !important;
}
.tippy-box .tippy-arrow {
  color: #1B2439;
  width: 0.9vw !important;
  height: 0.9vw !important;
}
.tippy-box .tippy-arrow:before {
  border-width: 0.5vw 0.5vw 0 0 !important;
  bottom: -0.4vw !important;
}
.tippy-box .tippy-content {
  padding: 1.8vw 2.35vw;
}
.tippy-box .tippy-content .skill-name {
  color: #869DC8;
  font-family: "Karla";
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 160.02% */
  letter-spacing: 0.0015vw;
}
.tippy-box .tippy-content .skill-upgrade {
  color: #FFF;
  font-family: "Rubik";
  font-size: 0.78vw;
  font-weight: 400;
  line-height: 160%; /* 213.36% */
  letter-spacing: 0.0015vw;
}
.tippy-box .tippy-content .skill-upgrade span {
  color: #A4A7B0;
}
.tippy-box .tippy-content .modal-content p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Rubik";
  font-size: 0.75vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 166.667% */
  letter-spacing: 0.0015vw;
}

[data-tippy-root] {
  z-index: 10000000000000000 !important;
}/*# sourceMappingURL=new_style.css.map */